<!DOCTYPE html>
<html lang="zxx">

<head>
    
    <!-- Google Font -->
   
    <!-- Css Styles -->
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">-->
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    
    
</head>


    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Wrapper Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <span class="far fa-window-close"></span> 
        </div>
        <div class="logo">
            <a href="./index.html">
                <img src="../img/p1.png" alt="">
            </a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="om-widget">
            <ul>
                <li><i class="fas fa-code-branch"></i>Branch no</li>
                <li>
                    <a href="/"><img src="../img/ppp.jpg" class="rounded-circle " style="width: 60px; height: 60px;"><br> <p>
                        Mekdes Genetu
                    </p></a>
                  </li>
            
            </ul>
            <a href="#" class="hw-btn">logout</a>
        </div>
        <div class="om-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
        </div>
    </div>
    <header class="header-section">
    <div class="hs-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                 
                    <div class="logo">
                        <a href="./sam_index.html"><img
                                src="../img/logo.png"
                                
                                alt=""></a>
                    </div>
    
                </div>
            
                <div class="col-lg-5" style="margin-top: 30px;">
                    <p style="font-size: 20px;"> <strong>Assosa Driving Maseltegna</strong></p>
                    
                    <p style="font-size: 20px; "> <strong>አሶሳ የመንጃ ፈቃድ ማሰልጥኝ</strong></p>
                </div>
                <div class="col-lg-5">

                    <div class="ht-widget">
                        <ul>
                            <li><i class="fas fa-code-branch"></i>Branch No</li>
                           
                       
                            <li>
                                <a href="/"><img src="../img/ppp.jpg" class="rounded-circle " style="width: 60px; height: 60px;"><br> <p class="text-center">
                                    Mekdes Genetu
                                </p></a>
                              </li>
                            
                           
                            
                        </ul>
                        <a href="#" class="hw-btn">logout</a>
                
                    </div>
                    
                
                </div>
            </div>

            <div class="canvas-open">
                <span class="fas fa-bars"></span>
            </div>
        </div>
    </div>
        <div class="hs-nav" style="background-color: #003679;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-11">
                        <nav class="nav-menu">
                            <ul>
                                <li class="cat"><a  href="./index.html " >Categories <a></a></a>
                                    <ul class="dropdown">
                                        <li><a href="./property.html">Students</a></li>
                                        <li><a href="./profile.html">Admins</a></li>
                                        <li><a href="./property-details.html">Teachers</a></li>
                                        <li><a href="./property-comparison.html">Field mans</a></li>
                                        <li><a href="./property-submit.html">Vichles</a></li>
                                        <li><a href="./property-submit.html">Rounds</a></li>
                                        <li class="active"><a href="./property-submit.html">Learning Resource</a></li>
                                        <li><a href="./property-submit.html">Break date configration</a></li>
                                        <li><a href="./property-submit.html">Information site</a></li>

                                    </ul>
                                
                                
                                
                                </li>








                                <li><a href="./index.html">Home</a></li>
                                <li class="active"><a href="secrotory">Controll</a></li>
                                <li><a href="second">Payments</a></li>
                                <li><a href="./blog.html">Learning</a></li>
                                <li ><a href="adminregistor">Registration</a></li>
                                <li><a href="./blog.html">Q and A</a></li>
                                <li><a href="./contact.html">Language </a>
                                    <ul class="dropdown">
                                        <li><a href="./property.html">English</a></li>
                                        <li><a href="./profile.html">Amharic</a></li>
                                        <li><a href="./property-details.html">oromifa</a></li>
                                       
                                    </ul>
                                
                                
                                
                                
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

         <!--this is to inform u this section will be deleted-->
       
        <!--this is to inform u this section will be deleted-->
        



        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/mixitup.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/jquery.nice-select.min.js"></script>
        <script src= "/js/jquery.slicknav.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/jquery.richtext.min.js"></script>
        <script src="/js/image-uploader.min.js"></script>
        <script src="/js/main.js"></script>

    </header>
   
  
   
    
    </html>