<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Aler Template">
    <meta name="keywords" content="Aler, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Driving</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>



    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
   <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
{{template "header.html"}}





<body>
        
    <div class="container">
        <div class="row">
            
     
    <div class="col-md-3 col-sm-0  col-xs-12 border-right" >
      
        <h2 style="color: white;">navpart</h2>
    
        <nav class="hsnav">
            <ul class="dropdown2">
                <li><a href="./property.html">Students</a></li>
                <li><a href="search">Admins</a></li>
                <li><a href="./property-details.html">Teachers</a></li>
                <li><a href="./property-comparison.html">Field mans</a></li>
                <li><a href="./property-submit.html">Vichles</a></li>
                <li><a href="./property-submit.html">Rounds</a></li>
                <li class="active"><a href="./property-submit.html">Learning Resource</a></li>
                <li><a href="./property-submit.html">Break date configration</a></li>
                <li><a href="./property-submit.html">Information site</a></li>

            </ul>
        </nav>
        
        
        </div>








   <div class="col-md-9 col-sm-12 col-xs-12">
       <!--this is to inform u this section will be deleted-->
       <hr>
       <div class="row sec py-2">
        <div class="col-lg-8 col-md-8">
            <div class="section-title">
                <h4> Training Categories</h4>
            </div>
        </div>
    </div>
    <!-- Add New Categories section -->
<hr>

 

    <div class="container">
        <div class="row">
            
                <div class="col-md-12  mt-5" >
                    <div class="choose text-center">
           
                        <div class="cards py-5">
                           
                            <div class="d-flex flex-row justify-content-center flex-wrap">
    
                                
                             <div class="card mr-4 d-inline-block shadow-lg " id="cardone">
                                <div class="card-img-top">
                                    <img src="../img/bajaj.jpg" class="img-fluid" style="width: 200px;height: 150px;">
    
    
                                </div>
                                
                                 <div class="card-body">
                                     <h3 >Bajaj</h3>
    
    
    
                                 </div>
    
    
                             </div>
                             <div class="card  mr-4 d-inline-block shadow-lg" id="cardone">
                                <div class="card-img-top">
                                    <img src="../img/taxi.jpg" class="img-fluid" style="width: 200px;height: 150px;">
   
   
                                </div>
                                 
                                <div class="card-body">
                                    <h3 class="px-3 py-3" >Taxi</h3>
    
    
    
                                </div>
    
    
                            </div>
                            <div class="card mr-4 d-inline-block shadow-lg" id="cardone">
                                <div class="card-img-top">
                                    <img src="../img/motor.jpg" class="img-fluid" style="width: 200px;height: 150px;">
    
    
                                </div>
                               
                                <div class="card-body">
                                    <h3>Motor</h3>
    
    
    
                                </div>
    
    
                            </div>
                            
    
    
    
    
    
                            </div>
                            <button  onclick="addNewCategory()"  type="submit" class="link_button features_button"><a href="#">Add new Category</a></button>
    
    
    
    
                        </div>
                        </div>
                      </div>

  </div>
  <script>
    function addNewCategory() {
        console.log("addAdmin Function");
        var element = document.getElementById("addnewCategory");
        if (element.style.display == "none") {
            element.setAttribute("style", "display:block");
        } else {
            element.setAttribute("style", "display:none");
        }
    }
</script>

 </div>

 <div class="container" id="addnewCategory" style="display: none;" >
    <div class="row">
        
            
            <div class="md-form form-lg">
                <input type="text" id="inputLGEx" class="form-control form-control-lg" placeholder="category name">
               
              </div>
              <br><br>

              <div>
                <div class="button_outer">
                    <div class="btn_upload">
                        <input type="file" id="upload_file" name="">
                        Upload Image
                    </div>
                    <div class="processing_bar"></div>
                    <div class="success_box"></div>
                </div>
                <div class="error_msg"></div>
             <div class="uploaded_file_view" id="uploaded_view">
           <span class="file_remove">X</span>
            </div>
            </div>






  <div class="md-form form-lg">
                <button type="button" id="inputLGEx" class="form-control form-control-lg" style="background-color: #003679; color: white;">Add</button>
               
              </div>
             
        
    </div>
</div>
<script>

    var btnUpload = $("#upload_file"),
            btnOuter = $(".button_outer");
        btnUpload.on("change", function(e){
            var ext = btnUpload.val().split('.').pop().toLowerCase();
            if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
                $(".error_msg").text("Not an Image...");
            } else {
                $(".error_msg").text("");
                btnOuter.addClass("file_uploading");
                setTimeout(function(){
                    btnOuter.addClass("file_uploaded");
                },3000);
                var uploadedFile = URL.createObjectURL(e.target.files[0]);
                setTimeout(function(){
                    $("#uploaded_view").append('<img src="'+uploadedFile+'" />').addClass("show");
                },3500);
            }
        });
        $(".file_remove").on("click", function(e){
            $("#uploaded_view").removeClass("show");
            $("#uploaded_view").find("img").remove();
            btnOuter.removeClass("file_uploading");
            btnOuter.removeClass("file_uploaded");
        });
    </script>

 

<hr>
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div  class="section-title">
                <h4>Rooms</h4>
            </div>
        </div>
    </div>
    <hr>
 <div class="container">
    <div class="container table-responsive py-2"  >
               
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Number</th>
              <th>Room Number</th>
              <th>Capacity</th>
              
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>1024</td>
              <td>100</td>
          
              <td><a href="#"><i class="fas fa-pen-alt"></i> </a></td>
              <td><a href="#"><i class="fas fa-trash"></i></a></td>
            </tr>
            <tr>
                <td>2</td>
              <td>1078</td>
              <td>700</td>
              
           
              <td><a href="#"><i class="fas fa-pen-alt"></i> </a></td>
              <td><a href="#"><i class="fas fa-trash"></i></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>1890</td>
                <td>190</td>
             
              <td><a href="#"><i class="fas fa-pen-alt"></i> </a></td>
              <td><a href="#"><i class="fas fa-trash"></i></a></td>
            </tr>
            <tr>
                <td>4</td>
              <td>1900</td>
              <td>900</td>
            
                <td><a href="#"><i class="fas fa-pen-alt"></i> </a></td>
                <td><a href="#"><i class="fas fa-trash"></i></a></td>
              </tr>
              <tr>
                <td>5</td>
              <td>4590</td>
              <td>880</td>
                
                <td><a href="#"><i class="fas fa-pen-alt"></i> </a></td>
                <td><a href="#"><i class="fas fa-trash"></i></a></td>
              </tr>
              <tr>
                <td>6</td>
                <td>8080</td>
                <td>3450</td>
                
                <td><a href="#"><i class="fas fa-pen-alt"></i> </a></td>
                <td><a href="#"><i class="fas fa-trash"></i></a></td>
              </tr>
              <tr>
                <td>7</td>
                <td>9086</td>
                <td>900</td>
                
                <td><a href="#"><i class="fas fa-pen-alt"></i> </a></td>
                <td><a href="#"><i class="fas fa-trash"></i></a></td>
              </tr>
              <tr>
                <td>1</td>
                <td>1024</td>
                <td>100</td>
                
                <td><a href="#"><i class="fas fa-pen-alt"></i> </a></td>
                <td><a href="#"><i class="fas fa-trash"></i></a></td>
              </tr>
              <tr>
                <td>1</td>
              <td>1024</td>
              <td>100</td>
               
                <td><a href="#"><i class="fas fa-pen-alt"></i> </a></td>
                <td><a href="#"><i class="fas fa-trash"></i></a></td>
              </tr>
          </tbody>
        </table>
        </div>


 </div>
 <!--add rooms mnamn section-->
 
 <hr>
 <div class="row">
     <div class="col-lg-8 col-md-8">
         <div  class="section-title">
             <h4>Add Rooms</h4>
         </div>
     </div>
 </div>
 <hr>
<div class="features">
    <div class="container">
        
           
            <div class="col-lg-6">
                <form>
                    <div class="form-group">
                      <label for="room">Room Number</label>
                      <input type="number" class="form-control" id="room" aria-describedby="emailHelp" placeholder="enter room number">
                      
                    </div>
                    <div class="form-group">
                      <label for="Capacity">Capacity</label>
                      <input type="number" class="form-control" id="Capacity" placeholder="enter Capacity">
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="link_button features_button"><a href="#">submit</a></button>
                  </form>
            </div>
        
    </div>
</div>



   
    
  
<!--this is to inform u this section will be deleted-->



       

    </div>




    



    </div>
    </div>
    

</body>
{{ template "footer.html" }}





</html>