<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Aler Template">
    <meta name="keywords" content="Aler, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Driving</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>



    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
   <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">

    <link href="/css/resourse.css" rel='stylesheet' type='text/css'>
</head>
{{template "header.html"}}





<body>
        
    <div class="container">
        <div class="row">
            
     
    <div class="col-md-3 col-sm-0  col-xs-12 border-right" >
      
        <h2 style="color: white;">navpart</h2>
    
        <nav class="hsnav">
            <ul class="dropdown2">
                <li><a href="./property.html">Students</a></li>
                <li><a href="search">Admins</a></li>
                <li><a href="./property-details.html">Teachers</a></li>
                <li><a href="./property-comparison.html">Field mans</a></li>
                <li><a href="./property-submit.html">Vichles</a></li>
                <li><a href="./property-submit.html">Rounds</a></li>
                <li class="active"><a href="./property-submit.html">Learning Resource</a></li>
                <li><a href="./property-submit.html">Break date configration</a></li>
                <li><a href="./property-submit.html">Information site</a></li>

            </ul>
        </nav>
        
        
        </div>








   <div class="col-md-9 col-sm-12 col-xs-12 py-5">
    <div class="container cardd " style="border:1px solid #cecece;">
       <!--this is to inform u this section will be deleted-->
       <div class="cards">
        <div class="card mt-4" >
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="../img/ppp.jpg"class="rounded-circle " style="width: 80px; height: 80px;">


                    </div>
                    <div class="col-md-8 px-5" >
                        <p style="font-size: 20px;">Kiddy</p>
                        <p style="font-size: 20px;">mekdes Genetu newoot</p>
                        <p style="font-size: 20px;"> Created by: Samuel adnew</p>
                        


                    </div>
                    <div class="col-md-1">
                        <p id="delete"><i class="fas fa-info"></i></p>
                     </div>
                     </div>
                     </div>
                     </div>
                    </div>

                    <div class="cards">
                        <div class="card mt-4" >
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="../img/ppp.jpg"class="rounded-circle " style="width: 80px; height: 80px;">
                
                
                                    </div>
                                    <div class="col-md-8 px-5" >
                                        <p style="font-size: 20px;">Kiddy</p>
                                        <p style="font-size: 20px;">mekdes Genetu newoot</p>
                                        <p style="font-size: 20px;"> Created by: Samuel adnew</p>
                                        
                
                
                                    </div>
                                    <div class="col-md-1">
                                        <p id="delete"><i class="fas fa-info"></i></p>
                                     </div>
                                     </div>
                                     </div>
                                     </div>
                                    </div>
    







       
     
     </div>       
        </div>
       


       





     
      
  
<!--this is to inform u this section will be deleted-->



</div>    

    </div>




    



  
    

</body>
{{ template "footer.html" }}





</html>